@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.less';
@import "~@glidejs/glide/dist/css/glide.core.css";


@primary-color: #1655B7;
@secondary-color: #fca125;

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X Li It v3.2.ttf');
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X Li v3.2.ttf');
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X Med It v3.2.ttf');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X Med v3.2.ttf');
  font-weight: regular;
  font-style: regular;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X UlLi It v3.2.ttf');
  font-weight: semibold;
  font-style: semibold;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X UlLi v3.2.ttf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'DB Ozone';
  src: url('/fonts/DB Ozone X v3.2.ttf');
  font-weight: bold;
  font-style: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: DB Ozone, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0 auto;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.user-box {
  bottom: -40px;
}


.ant-btn {
  border-radius: 4px;
}


.text-primary-color {
  color: @primary-color;
}

.bg-primary-color {
  background: @primary-color;
}

.border-primary-color {
  border: 1px solid @primary-color;
  border-radius: 4px;
}

.ant-checkbox {


  .ant-checkbox-inner {
    border-radius: 4px;
    // background-color: #fff;
  }

}

.ant-input {
  border-radius: 4px;
}

.calendar {

  .ant-checkbox {
    position: absolute;
    left: -20px;
    top: 20%;

    .ant-checkbox-inner {
      border-radius: 999rem;
    }
  }
}

.rounded-btn {
  border-radius: 99rem;
}

.secondary-btn {
  background-color: @secondary-color;
  color: #fff;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-input {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-select-selection-placeholder,
.ant-input::placeholder {
  color: @primary-color;
}

.ant-table-thead>tr>th {
  background-color: @primary-color;
  color: #fff;
  text-align: center;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid rgb(156 163 175);
}

.ant-list-split .ant-list-item:first-child {
  border-top: 1px solid rgb(156 163 175);
}

.ant-dropdown-menu-title-content,
.ant-dropdown-trigger {
  color: #fff;
}

.ant-dropdown-menu-title-content:hover{
  color: #000
}

.navbar{
  height: 3rem;
  border-top-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.main-container{
  max-width: 1004px;
}