@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.less";
@import "~@glidejs/glide/dist/css/glide.core.css";

@primary-color: #1655b7;
@secondary-color: #fca125;

@font-face {
  font-family: "DB Ozone";
  src: url("/fonts/DB li.ttf");
  font-weight: light;
  font-style: light;
}

@font-face {
  font-family: "DB Ozone thin";
  src: url("/font/DB_thin.ttf");
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: "DB Ozone reg";
  src: url("/font/DB_md.ttf");
  font-weight: regular;
  font-style: regular;
}


@font-face {
  font-family: "DB Ozone semibold";
  src: url("/font/DB_bold.ttf");
  font-weight: semibold;
  font-style: semibold;
}

@font-face {
  font-family: "DB Ozone bold";
  src: url("/font/DB_lg.ttf");
  font-weight: bold;
  font-style: bold;
}

.fc .fc-scrollgrid-section-liquid {
  height: 1px !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: DB Ozone, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0 auto;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0em;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-item {
  font-size: 1rem;
}

.nav-item:hover {
  color: #000;
}

* {
  box-sizing: border-box;
}

.user-box {
  bottom: -40px;
}

.ant-btn {
  border-radius: 4px;
}

.text-primary-color {
  color: @primary-color;
}

.bg-primary-color {
  background: @primary-color;
}

.border-primary-color {
  border: 1px solid @primary-color;
  border-radius: 4px;
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-radius: 4px;
    // background-color: #fff;
  }
}

.ant-input {
  border-radius: 4px;
}

.calendar {
  .ant-checkbox {
    position: absolute;
    left: -20px;
    top: 20%;

    .ant-checkbox-inner {
      border-radius: 999rem;
    }
  }
}

.rounded-btn {
  border-radius: 99rem;
}

.secondary-btn {
  background-color: @secondary-color;
  color: #fff;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-input {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-select-selection-placeholder,
.ant-input::placeholder {
  color: @primary-color;
}

.ant-table-thead > tr > th {
  background-color: @primary-color;
  color: #fff;
  text-align: center;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid rgb(156 163 175);
}

.ant-list-split .ant-list-item:first-child {
  border-top: 1px solid rgb(156 163 175);
}

.ant-dropdown-menu-title-content,
.ant-dropdown-trigger {
  color: #fff;
}

.ant-dropdown-menu-title-content:hover {
  color: #000;
}

.navbar {
  height: 3rem;
  border-top-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.main-container {
  max-width: 1004px;
}

.text-white {
  color: #fff;
}

.ant-table-wrapper,
.ant-table-container,
.ant-table-cell,
.ant-table-row {
  border-color: @primary-color !important;
}

.table-noshow-pagination .ant-pagination-total-text {
  width: 100%;
}

.table-noshow-pagination .ant-pagination-prev,
.table-noshow-pagination .ant-pagination-next {
  width: 40%;
}

.table-noshow-pagination .ant-pagination-item {
  display: none;
}

.table-noshow-pagination .ant-pagination-prev > a {
  display: inherit;
  max-width: 50px;
  margin-right: auto;
}
.table-noshow-pagination .ant-pagination-next > a {
  display: inherit;
  margin-left: auto;
  max-width: 50px;
}

.ant-picker {
  border-radius: 8px;
  border-color: @primary-color;
}

.fc-popover{
  background-color: rgb(248, 248, 248);
}

.divider-h-full {
  height: 100%;
}

.tag-round{
  border-radius: 8px;
  color: @primary-color;
  text-transform: uppercase;
}

.ant-collapse.form-collapse > .ant-collapse-item > .ant-collapse-header{
  color: #fff;
}