@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.less";
@import "~@glidejs/glide/dist/css/glide.core.css";

@primary-color: #1655b7;
@secondary-color: #fca125;

@font-face {
  font-family: "DB Ozone";
  src: url("/font/DB_Ozone_X_UlLi_v3.2.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DB Ozone";
  src: url("/font/DB_Ozone_X_v3.2.ttf");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "DB Ozone";
  src: url("/font/DB_Ozone_X_Bold_v3.2.ttf");
  font-weight: bold;
  font-style: bold;
}

@large-desktop: ~"only screen and (min-width: 1444px)";
@small-desktop: ~"only screen and (min-width: 960px) and (max-width: 1280px)";
@tablet: ~"only screen and (max-width: 959px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 719px)";

@font-size-base: 24px;
@font-size-lg: 24px;
@select-dropdown-line-height: 20px;
@select-item-selected-color: @primary-color;

@btn-height-lg: 50px;
@btn-height-sm: 50px;

.meeting-room .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  font-weight: 700 !important;
}

.ant-pagination-item {
  font-size: 20px;
}

.fc-daygrid-day-number,
fc-daygrid-day-number {
  font-size: 1.5rem !important;
}

.fc .fc-scrollgrid-section-liquid {
  height: 1px !important;
}

.fc-event-title-container {
  line-height: 1;
}

.fc-h-event .fc-event-title-container {
  height: 20px !important;
}

.fc-event-title.fc-sticky,
.fc-event-title {
  font-size: 16px !important;
  margin-left: 2px;
}

.text-xl {
  font-size: 30px;
}

.text-2xl {
  font-size: 40px;
}

.text-lg {
  font-size: 24px;
}

.text-sm {
  font-size: 20px;
}

.text-xs {
  font-size: 16px;
}

.ant-select {
  height: 51.141px;
}

.ant-select-selector {
  height: 100% !important;
  padding-top: 8px !important;
}

.staff-contact-page {
  .ant-select-selector {
    text-align: center !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DB Ozone", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0 auto;
  font-size: 100%;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 20px;
}

.ant-table-thead > tr > th {
  font-size: 20px;
}

.nav-item {
  .ant-dropdown-menu-title-content {
    font-size: 24px;
  }
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0;
}

.nav-item:hover {
  color: #000;
}

* {
  box-sizing: border-box;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-(@fontSize) {
  font-size: (@fontSize);
}

.user-info {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.user-box {
  bottom: -40px;
}

.ant-btn {
  border-radius: 4px;
}

.text-primary-color {
  color: @primary-color;
}

.bg-primary-color {
  background: @primary-color;
}

.border-primary-color {
  border: 1px solid @primary-color;
  border-radius: 4px;
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-radius: 4px;
    // background-color: #fff;
  }
}

.ant-input,
.ant-input-affix-wrapper {
  border-radius: 8px;
}

.calendar {
  .ant-checkbox {
    position: absolute;
    left: -20px;
    top: 20%;

    .ant-checkbox-inner {
      border-radius: 999rem;
    }
  }
  .ant-select-selector {
    text-align: center !important;
  }

  .ant-select-selection-item,
  .ant-select-lg {
    font-size: 20px;
    line-height: 37px !important;
  }
}

.rounded-btn {
  border-radius: 99rem;
}

.secondary-btn {
  background-color: @secondary-color;
  color: #fff;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-input {
  border-radius: 8px;
  border: 1px solid @primary-color;
}

.ant-select-selection-placeholder {
  color: @primary-color;
}

.ant-input::placeholder {
  color: "#D8D8D8";
}

.ant-table-thead > tr > th {
  background-color: @primary-color;
  color: #fff;
  text-align: center;
}

.ant-list-split .ant-list-item {
  border-bottom: 1px solid rgb(156 163 175);
}

.ant-list-split .ant-list-item:first-child {
  border-top: 1px solid rgb(156 163 175);
}

.ant-dropdown-menu-title-content,
.ant-dropdown-trigger {
  color: #fff;
}

.ant-dropdown-menu-title-content:hover {
  color: #000;
}

.gap-20 {
  gap: 30px;
  @media @large-desktop {
    gap: 55px;
  }
}

.navbar-container {
  padding-left: 3rem;
  max-width: 1300px;
  @media @large-desktop {
    max-width: 1500px;
  }
}

.navbar {
  padding: 0 3rem;
  height: 70px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.home-logo {
  font-weight: 700;
  padding: 0 1.75rem;
  border-right: 3px solid @secondary-color;
  margin-right: 10px;
}

.navbar-ul {
  align-items: center;
}

.main-container {
  max-width: 1004px;
  position: relative;
}

.nav-logo {
  @media @tablet {
    width: 180px;
  }
}

.text-white {
  color: #fff;
}

.set-border .ant-table-wrapper,
.set-border .ant-table-container,
.set-border .ant-table-cell,
.set-border .ant-table-row {
  border-color: @primary-color !important;
}

.custom-table-width {
  .ant-table table {
    // width: unset;
  }
}

// .table-noshow-pagination .ant-pagination-total-text {
//   width: 100%;
// }

// .table-noshow-pagination .ant-pagination-prev,
// .table-noshow-pagination .ant-pagination-next {
//   width: 45%;
// }

.slick-dots.slick-dots-bottom.circle-dots {
  bottom: -15px;
  li button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  li.slick-active {
    width: 16px;
  }
}

.ant-pagination.ant-table-pagination.ant-table-pagination-center {
  display: flex;
  justify-content: space-between;
}
.table-noshow-pagination .ant-pagination-prev {
  order: 0;
}

.table-noshow-pagination .ant-pagination-total-text {
  order: 1;
  margin: 0 auto;
}

.table-noshow-pagination .ant-pagination-next {
  order: 2;
}

.table-noshow-pagination .ant-pagination-item,
.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon {
  display: none;
}

// .table-noshow-pagination .ant-pagination-prev > a {
//   display: inherit;
//   max-width: 150px;
//   margin-right: auto;
// }
// .table-noshow-pagination .ant-pagination-next > a {
//   display: inherit;
//   margin-left: auto;
//   max-width: 150px;
// }

.ant-picker {
  border-radius: 8px;
  border-color: @primary-color;
}

.fc-popover {
  background-color: rgb(248, 248, 248);
}

.divider-h-full {
  height: 100%;
}

.tag-round {
  border-radius: 8px;
  color: @primary-color;
  text-transform: uppercase;
}

.ant-collapse.form-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #fff;
  justify-content: center;
}

ul.ant-dropdown-menu {
  border-radius: 8px;
}
// font system
.heading-en {
  font-size: 50px;
}

.heading-th {
  font-size: 40px;
}

.sub-heading {
  font-size: 32px;
}

.content-font {
  font-size: 28px;
}

.detail-font {
  font-size: 24px;
}

.calendar-container .fc-day.fc-day-sun {
  color: #f59331 !important;
}

.calendar-container
  .fc-col-header-cell.fc-day.fc-day-sun
  .fc-scrollgrid-sync-inner {
  color: #f59331 !important;
}

.bg-red-custom {
  background-color: #ea4335;
}

.bg-green-custom {
  background-color: #34a853;
}

.bg-blue-custom {
  background-color: #4285f4;
}

.bg-yellow-custom {
  background-color: #f1c232;
}

.calendar-container .fc .fc-daygrid-day-frame,
.calendar-container .fc-col-header-cell .fc-scrollgrid-sync-inner {
  border: 1px solid @primary-color;
}

.calendar-container .fc-col-header-cell .fc-scrollgrid-sync-inner {
  border-bottom: none;
}

.calendar-container .fc-col-header-cell .fc-scrollgrid-sync-inner {
  color: @primary-color;
}

.fc-day-sun {
  color: unset;
}

.calendar-container
  tr
  .fc-col-header-cell:not(:last-of-type)
  .fc-scrollgrid-sync-inner {
  border-right: none;
}

.calendar-container tr:not(:last-child) td .fc-daygrid-day-frame {
  border-bottom: none;
}

.calendar-container tr td:not(:last-of-type) .fc-daygrid-day-frame {
  border-right: none;
}

.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: @primary-color !important;
}

.ant-dropdown-menu-submenu-popup ul {
  margin: 0;
}

.form-collapse .form-download-item:nth-child(odd) {
  background-color: #e7edf8;
}

.form-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse {
  background-color: unset;
  border: unset !important;
}

.ant-collapse-item {
  border-radius: 8px;
  margin-top: 20px;
}

.meeting-room-calendar tr > th:first-child {
  color: #ea4335;
}

.meeting-room-calendar
  tr
  > td.ant-picker-cell-in-view:first-child
  .ant-picker-cell-inner.ant-picker-calendar-date
  .ant-picker-calendar-date-value {
  color: #ea4335;
}

.meeting-room-calendar
  tr
  > td.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected:first-child
  .ant-picker-cell-inner.ant-picker-calendar-date {
  background-color: #f86e61;
}

.meeting-room-calendar
  tr
  > td.ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-selected:first-child
  .ant-picker-cell-inner.ant-picker-calendar-date
  .ant-picker-calendar-date-value {
  color: #ffffff;
}

.ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today::before {
  border-radius: 50%;
  background-color: #f86e61;
  border: 1px solid #f86e61;
  z-index: -1;
}

.ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today
  .ant-picker-calendar-date-value {
  color: #fff;
}
.ant-picker-cell-today
  .ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today {
  background-color: unset;

  &
    > .ant-picker-cell-inner.ant-picker-calendar-date.ant-picker-calendar-date-today::before {
    border-radius: 50%;
    background-color: #ea4335;
    border: 1px solid #ea4335;
  }
}

.meeting-room
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: 1px solid #d9d9d9;
}

.meeting-room .ant-input,
.meeting-room .ant-picker {
  border: 1px solid #d9d9d9;
}

.meeting-room .ant-form-item-no-colon {
  min-width: 10rem;
  margin-left: 2rem;
}

.meeting-room table tr td.fc-timegrid-slot.fc-timegrid-slot-lane,
.meeting-room .fc-daygrid-day-frame.fc-scrollgrid-sync-inner,
.fc-timegrid-now-indicator-container {
  background-color: #fff;
}

.meeting-room .fc tr:nth-of-type(even),
.meeting-room
  .fc
  tr:nth-of-type(even)
  td.fc-timegrid-slot.fc-timegrid-slot-lane {
  background-color: rgba(214, 227, 248, 0.877);
}

.meeting-room .fc tr:nth-of-type(even),
.meeting-room
  .fc
  tr:nth-of-type(even)
  td.fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor {
  background-color: rgba(214, 227, 248, 0.877);
}

.fc-timegrid-axis-frame::before {
  content: "Time";
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem 0;
  width: 100%;
}

colgroup col {
  width: 6rem !important;
}

.fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame {
  text-align: center !important;
}

.fc .fc-timegrid-slot {
  height: 5px !important;
}

.fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame,
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  padding: 0px 0;
}

.fc-scroller {
  border-color: #fff;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child:hover {
  a > div {
    color: #000;
  }
}

.ant-dropdown-menu-submenu .ant-menu-item.ant-menu-item-only-child:hover {
  background-color: #fff;
  a > div {
    color: #000;
  }
}

.ant-dropdown-menu-submenu .ant-menu-item.ant-menu-item-only-child {
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  position: relative;
  font-weight: regular;
}

.footer-cloud {
  width: 500px;
  position: fixed;
  bottom: -100px;
  right: -200px;
  z-index: -1;
}

.ant-dropdown-menu-submenu-expand-icon {
  color: #fff;
}

.nav-li-item {
  min-width: 7rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ant-dropdown-trigger > .anticon.anticon-down {
  font-size: 16px;
}

.staff-image {
  min-width: 3rem;
  max-width: 3rem;
  width: 100%;
}

.footer-header {
  margin-bottom: 10px;
}

.footer-nav-item {
  margin-top: 5px;
}

.meeting-room .ant-checkbox-inner {
  width: 20px;
  height: 20px;
}

.meeting-room .ant-checkbox-inner::after {
  width: 6.714286px;
  height: 12.142857px;
}

.calendar .ant-checkbox-inner::after {
  width: 7.714286px;
  height: 15.142857px;
}

.calendar .ant-checkbox {
  background-color: inherit;
  border-radius: 9999px;
  left: -38px;
}

.calendar .ant-checkbox-wrapper {
  background-color: inherit;
}

.calendar .ant-checkbox-inner {
  // background-color: inherit;
  width: 30px;
  height: 30px;
}

.calendar .ant-checkbox-checked .ant-checkbox-inner {
  border-color: inherit;
  background-color: inherit;
}

.ant-picker-cell .ant-picker-cell-inner {
  padding: 5px;
  height: 36px;
  width: 36px;
}

.fc-col-header-cell-cushion {
  font-size: 1.25rem !important;
}

.meeting-room .fc-scrollgrid.fc-scrollgrid-liquid tr th {
  background-color: @primary-color !important;
  color: #fff !important;
}

.meeting-room .fc-timegrid-slot.fc-timegrid-slot-lane,
.fc-theme-standard td,
.fc-theme-standard th {
  border: #fff 1px solid !important;
}

.fc-theme-standard .fc-scrollgrid {
  border: none !important;
}

.add-padding .ant-checkbox {
  padding-bottom: 3px;
}

.name-col {
  width: 330px;
}

.normal-col {
  width: 250px;
}

.ant-picker-content tr th {
  padding: 5px !important;
  height: 36px !important;
  width: 36px;
}

.pad-left-form-label {
  label {
    padding-left: 0.8rem;
  }
}

.fc th {
  vertical-align: middle !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  font-family: "DB Ozone", "Helvetica";
}
.strict-error-form-item {
  .ant-form-item-explain-error {
    margin-left: -10rem;
  }
}
